@import '../variables';

.card {
    overflow: hidden;
    margin-bottom: 20px;
    
    .card-top {
        background-color: rgba($white, 0.8);
        padding: 20px 10px;
        display: table;
        width: 100%;

        .card-image {
            width: 128px;
            display: table-cell;
            box-sizing: border-box;
            vertical-align: top;
            height: 190px;
            
            img {
                max-height: 190px;
            }
        }

        .card-info {
            padding-left: 20px;
            display: table-cell;
            vertical-align:top;
            box-sizing: border-box;

            .card-title {
                font-weight: 300;
                text-transform: uppercase;
            }
        }
    }

    .card-content {
        padding: 10px 20px;
        background-color: rgba($white, 0.7);
        overflow:hidden; 
        white-space:nowrap; 
        text-overflow: ellipsis;
        color: $edward;
    }

    .card-footer {
        border-top: 1px solid rgba(160, 160, 160, 0.2);
        background-color: rgba($white, 0.9);
        padding: 10px 20px;

        .glyphicon {
            font-size: 1.3em;
            cursor: pointer;

            &.gly-details {    
                color: $lightIndigo;
                margin-right: 10px; 

                &:hover {
                    color: $indigo;
                }
            }

            &.gly-favorite {
                color: $lightOrange;

                &:hover,
                &.favourited {
                    color: $orange;
                }
            }
        }

        a {
            transition: color 0.3s ease;
            text-transform: uppercase;
            cursor: pointer;
            
            &:hover, 
            &:focus {
                text-decoration: none;
            }
        }
    }
}