<div class="col-sm-4" *ngIf="card">
    <div class="card under-shadow">
        <div class="card-top">
            <div class="card-image">
                <img *ngIf="card.thumbnail" [src]="card.thumbnail">
                <img *ngIf="!card.thumbnail" src="../../.././assets/missingbook.png">
            </div>
            <div class="card-info pull-left">
                <strong class="card-title">{{card.title}}</strong><br>
                <small class="card-subtitle"><i>{{card.subtitle}}</i></small>
            </div>
        </div>

        <div class="card-content text-right">
            <small><i>{{card.author}}&nbsp;</i></small>
        </div>

        <div class="card-footer text-right">
            <span (click)="onDetailClickEvent()" class="glyphicon glyphicon-zoom-in gly-details" aria-hidden="true"></span>
            <span (click)="onFavoriteClickEvent()" [class.favourited]="isFavourited" class="glyphicon glyphicon-star gly-favorite" aria-hidden="true"></span>
        </div>
    </div>
</div>