$white: #ddd; 
$cararra: #F2F1EF;
$porcelain: #ECF0F1;

html, body {
  height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to bottom, $porcelain, $cararra );
    min-height: 100%;
}

.background {
    background: url(.././assets/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.1;
    filter: alpha(opacity=30);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.app {
    position: absolute;
    width: 100%; 
}
