/* As variaveis de cor do projeto, não preciso dizer como isso é importante né!? Alterou a cor, altera em um lugar só */

$white: #fff;
$whiteInfo: #C7C1BA;
$whiteBg: #F0F0ED;
$whiteBorder: #c9c9c9;
$grayBorder: #969696;
$cararra: #F2F1EF;
$porcelain: #ECF0F1;
$edward: #ABB7B7;
$emerald: #2ecc71;
$green: #2e7d32;
$lightGreen: #a5d6a7;
$indigo: #283593;
$lightIndigo: #9fa8da;
$orange: #ef6c00;
$mediumOrange: lighten($orange, 20%);
$lightOrange: #ffcc80;
