<div class="row">
    <div class="col-sm-6"  [class.col-sm-offset-3]="!booksResponse.searchTerm">
        <rd-search [placeholder]="searchPlaceholder" (onEnter)="searchEnter($event)" [value]="searchTerm"></rd-search>
    </div>
    <div class="col-sm-6 search-filter-info" *ngIf="booksResponse.searchTerm">
        <span class="alert alert-success under-shadow">
            <strong>{{booksResponse.totalItems}}</strong> books found for your search: '<strong>{{booksResponse.searchTerm}}</strong>'
        </span>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <rd-alert></rd-alert>
    </div>
</div>

<div class="row">
    <rd-card *ngFor="let book of booksResponse.items" [card]="book" (onDetailClick)="cardDetailClick($event)" 
        [isFavourited]=isCardFavourited(book.id) (onFavoriteClick)="cardFavoriteClick($event)"></rd-card>
</div>

<div class="row" *ngIf="booksResponse.items">
    <div class="col-sm-12 text-center">
       <rd-pagination [itemsPerPage]="12" [foundLastPage]="isLastPage" (pageChanged)="onPageChange($event)"></rd-pagination>
    </div>
</div>

<rd-loading></rd-loading> <!--Componente de loading-->
